workflows/newsdata_io.json
{
  "name": "Newsdata.io",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the list of articles (JSON below).  \nReturn ONLY a JSON array of the IDs in editorial priority order.\n{{ $json.chatInput.toJsonString() }}. Check also this list of recently posted news to avoid duplicates and similarity in topics: {{ $json.last_posted.toJsonString() }}.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "ROLE  \nYou are the Senior News Curator for the Telegram channel “AI & Robotics News”.  \nYour mission: from a JSON list of recent articles, pick the 1-3 items most worth posting.\n\nSELECTION GUIDELINES  \n1. Core topics:  \n   • Artificial Intelligence — models, agents, applied ML, generative AI, multimodal, policy, ethics, military  \n   • Robotics — humanoids, industrial robots, drones, autonomous systems, soft robotics, unusual robots  \n\n2. Priority (score each article mentally):  \n   A. Real-world impact or deployment (↑↑)  \n   B. Technological or societal significance (↑)  \n   C. Global or cross-regional relevance (↑)  \n   D. Fresh insight, breakthrough or ethical debate (↑)  \n   E. Unusual/funny angle – max 1 per batch (optional)\n\n3. Must-have diversity:  \n   • All articles must cover different sub-topics or perspectives if possible.  \n   • Avoid near-duplicate subjects in the same batch, also consider previously posted news.\n   • Avoid selecting multiple news from the one source in the same batch.\n   • Check list of last posted news to avoid duplicates and similar articles.\n   • There shouldn't be more than 1 topic about markets analysis in the same batch and a lot of them per one day.\n\n4. Strict exclusions:  \n   ✗ Funding rounds, stock/crypto moves, celebrity pieces, new gadget ads.  \n   ✗ Pure theory years from application, press releases, entertainment/gaming news.  \n   ✗ Articles whose only link to AI/robotics is a buzzword.\n   ✗ Articles that have been covered previously.\n\n5. Quality checks:  \n   • Prefer in-depth reporting to 200-word blogs.  \n   • Reject items with obvious marketing language or paywall teasers.\n\nOUTPUT FORMAT (MANDATORY)  \nReturn **only** a JSON array containing the `id` values of the chosen articles, ordered by editorial priority.  \nExample: `[45, 51, 41]`\n\nERROR HANDLING  \nIf fewer than 3 articles meet the criteria, return the IDs you have (minimum 1).  \nIf the input list is empty, return `[]`."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        980,
        680
      ],
      "id": "f339fde9-14b9-43b3-a9cb-3f503de2289e",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1000,
        1040
      ],
      "id": "d9e20084-25b9-472a-abd2-b7133641260f",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "6zuPFDwLkd3HXSOS",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"best_news\": [45, 48, 52]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1180,
        1040
      ],
      "id": "4a89f4e4-a8fa-474b-ae72-3ad33a5bcef5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1080,
        880
      ],
      "id": "f250c2f4-1ac1-41be-b2fd-8f0e017dbc57",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        100
      ],
      "id": "89ee4e84-7d95-49b0-b32e-44e915859b5b",
      "name": "Results Array"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12ba4226-2827-4a90-aa9e-76ef56cd3358",
              "name": "article_id",
              "value": "={{ $json.article_id }}",
              "type": "string"
            },
            {
              "id": "e9c76173-18a7-45ee-9a96-ae4e4a47f817",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "3607d46c-9f58-48d8-8564-ff3a9b49d38b",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "d69cae23-ebdb-4c07-bd89-81e8aa9c0844",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "9776a6d2-e192-46b2-a1b0-32650482d496",
              "name": "pub_dt",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "c6783038-da09-481b-835a-04103cb80260",
              "name": "source_priority",
              "value": "={{ $json.source_priority }}",
              "type": "number"
            },
            {
              "id": "f2288bf2-0e6e-4593-af2c-8399173627ec",
              "name": "category",
              "value": "={{ $json.category }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1300,
        100
      ],
      "id": "12888b68-558c-4737-b6ca-1fecd5c0ccb8",
      "name": "Filter Redundant Fields"
    },
    {
      "parameters": {
        "content": "## Collect news from newsdata.io and save to database",
        "height": 480,
        "width": 1940
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        40
      ],
      "typeVersion": 1,
      "id": "998e5657-b5af-489e-8c69-4381856c84b7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Find the best news from today that have not been posted yet",
        "height": 660,
        "width": 1600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        540
      ],
      "typeVersion": 1,
      "id": "6296c16a-aaf0-4b08-b03e-d790a8c794b1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE newsdata_io\nSET posted_dt = '{{ $now.format('yyyy-MM-dd HH:mm:ss') }}'\nWHERE id in ({{ $json.best_news }})",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1780,
        800
      ],
      "id": "80fd347c-2cf7-4372-8967-4809a23c98f1",
      "name": "Set Posted",
      "credentials": {
        "mySql": {
          "id": "SlwUL8t7rvWe6ZMd",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  title, \n  CASE\n    WHEN CHAR_LENGTH(description) <= 200 THEN description\n    ELSE CONCAT(LEFT(description, 200), ' ...')\n  END AS description,\n  link\nFROM newsdata_io\nWHERE id in ({{ $json.best_news}})",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2040,
        800
      ],
      "id": "d31c0b43-4627-4ff7-b38f-301d25cd6c1f",
      "name": "Get Best News Data",
      "credentials": {
        "mySql": {
          "id": "SlwUL8t7rvWe6ZMd",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "chatId": "@robotics_ai_news",
        "text": "=*{{$json[\"title\"]}}*\n\n[Read full article]({{$json[\"link\"]}})\n\n#newsdata",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2040,
        1000
      ],
      "id": "aa7a9c77-99c4-47fe-9581-7c6e9084f75a",
      "name": "Telegram",
      "webhookId": "2971bcc2-d1a8-4049-9dd0-54a7b86fe295",
      "credentials": {
        "telegramApi": {
          "id": "wc8DQPLdyGvUY7F6",
          "name": "robotics_ai_news_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Post to [AI & Robotic News](https://t.me/robotics_ai_news)",
        "height": 660,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1940,
        540
      ],
      "typeVersion": 1,
      "id": "7177161a-fc7a-4459-a053-8365b57aedeb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2040,
        600
      ],
      "id": "45186434-9633-44d0-a549-a5f50f9f174e",
      "name": "Wait Updating"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "python",
        "pythonCode": "import random\n\n# COUNTER\ncnt = _json['counter'] if 'counter' in _json.keys() else 0\ncnt += 1\n\n  \n# PAGING\ntry:\n  next_page = _json['nextPage']\nexcept:\n  next_page = ''\n\nnext_page = next_page if next_page else 'switch_type'\n\n\n# TYPE\nr_types = ['robot_' + str(i) for i in range(1,8)]\nr_types.extend(['ai_' + str(i) for i in range(1,6)])\nr_types.extend(['aut_' + str(i) for i in range(1,3)])\n\nif next_page == 'switch_type':\n  if cnt <= len(r_types):\n    r_type = random.choice(r_types)\n    next_page = ''\n  else:\n    r_type = 'none'\n    next_page = 'end'\nelse: \n  r_type = _json['type']\n\n\n# REQUESTS\nbase = 'https://newsdata.io/api/1/latest?country=us,jp,gb,de,cn&language=en&category=science,technology&excludedomain=news.google.com'\n# timeframe param is only for paid plan\n\nif 'robot' in r_type:\n  q = '(robot OR robotics OR robotic) AND '\n  match r_type[-1]:\n    case '1':\n      q += '(factory OR industrial OR autonomous) NOT (toy OR vacuum OR lawn)'\n    case '2':\n      q += '(medical OR surgical OR assist) NOT (toy OR vacuum OR lawn)'\n    case '3':\n      q += '(quadruped OR humanoid OR swarm OR drone OR vision) NOT vacuum'\n    case '4':\n      q += '(logistics OR warehouse OR delivery OR interaction) NOT vacuum'\n    case '5':\n      q += '(agriculture OR animal OR manipulation) NOT (vacuum OR lawn)'\n    case '6':\n      q += '(construction OR mining OR infrastructure OR heavy-duty)'\n    case '7':\n      q += '(space OR lunar OR martian OR underwater OR subsea OR orbital)'\n\nelif 'ai' in r_type:\n  q = 'ai AND '\n  match r_type[-1]:\n    case '1':\n      q += '(agi OR asi OR tool OR agent OR model OR intelligence OR gpt OR llm)'\n    case '2':\n      q += '(generative OR creative OR multimodal OR vision OR synthesis OR generated)'\n    case '3':\n      q += '(military OR autonomous OR defense OR surveillance OR strategic OR risk)'\n    case '4':\n      q += '(business OR analytics OR decision OR forecasting OR optimization OR analysis)'\n    case '5':\n      q += '(healthcare OR biology OR science OR diagnostics OR drug OR research OR issue)'\n\nelif r_type.startswith('aut'):                  \n    q = '(automation OR automated) AND '\n    match r_type[-1]:\n        case '1':\n            q += '(factory OR production OR assembly OR CNC OR PLC)'\n        case '2':\n            q += '(workflow OR business OR office OR finance OR back-office)'\n\nelse:\n  q = ''\n\n#print('type:', r_type, '| query:', q)\n\nnp_param = f'&page={next_page}' if next_page else ''\n\nq_param = random.choice(['q','qInTitle'])\n\n\nreturn {\n  'counter': cnt,\n  'nextPage': next_page,\n  'type': r_type,\n  'endpoint': f'{base}&{q_param}={q}{np_param}',\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        300
      ],
      "id": "99465501-9fed-46a3-a562-664036704876",
      "name": "Endpoint Generator"
    },
    {
      "parameters": {
        "url": "={{ $json[\"endpoint\"] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        100
      ],
      "id": "9615544d-91a1-48cf-af65-4786e72329ee",
      "name": "Request",
      "credentials": {
        "httpQueryAuth": {
          "id": "m1qXEvbzTYgjBI0T",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input2"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        420,
        300
      ],
      "id": "7d1b3c0f-02c4-457e-910f-009297a3392c",
      "name": "Start Iteration",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT \n  i2.counter, \n  i2.type,\n  i1.nextPage\nFROM input1 as i1, input2 as i2"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1120,
        280
      ],
      "id": "cd080373-4409-455b-b9a7-42f31043cae5",
      "name": "Update Variables"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "newsdata_io",
          "mode": "list",
          "cachedResultName": "newsdata_io"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "article_id",
              "value": "={{ $json.article_id }}"
            },
            {
              "column": "title",
              "value": "={{ $json.title }}"
            },
            {
              "column": "description",
              "value": "={{ $json.description }}"
            },
            {
              "column": "link",
              "value": "={{ $json.link }}"
            },
            {
              "column": "pub_dt",
              "value": "={{ $json.pub_dt }}"
            },
            {
              "column": "source_priority",
              "value": "={{ $json.source_priority }}"
            },
            {
              "column": "category",
              "value": "={{ JSON.stringify($json.category) }}"
            },
            {
              "column": "collected_dt",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2020,
        340
      ],
      "id": "9c4dbdc2-db5e-482c-8ce9-33e6d2584dc9",
      "name": "Insert",
      "notesInFlow": true,
      "credentials": {
        "mySql": {
          "id": "SlwUL8t7rvWe6ZMd",
          "name": "MySQL n8n_news"
        }
      },
      "notes": "TABLE: newsdata_io"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        420,
        100
      ],
      "id": "8ab1c510-cd7c-4c40-9c6b-d160d0a24219",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title, posted_dt\nFROM newsdata_io\nWHERE title LIKE 'Silicon Doesn%'",
        "options": {
          "connectionLimit": 10
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -220,
        260
      ],
      "id": "7885aff2-a6dd-4941-8112-37cb9041f7bc",
      "name": "check posted by title",
      "notesInFlow": false,
      "credentials": {
        "mySql": {
          "id": "SlwUL8t7rvWe6ZMd",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH prep as (\nSELECT COUNT(title) as cnt, title \n  FROM newsdata_io \n  GROUP BY title \n  HAVING cnt > 1\n)\n\nSELECT article_id, title, link \n  FROM newsdata_io\n  WHERE title in (SELECT title from prep)\nORDER BY title",
        "options": {
          "connectionLimit": 10
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -220,
        100
      ],
      "id": "5beb1b12-0e0d-4ecd-bbf1-1fe3bf3e2fe9",
      "name": "check duplicates",
      "notesInFlow": false,
      "credentials": {
        "mySql": {
          "id": "SlwUL8t7rvWe6ZMd",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, description FROM newsdata_io\nWHERE pub_dt >= '{{ $now.minus(48, 'hours').format('yyyy-MM-dd HH:mm:ss') }}' \nAND description IS NOT NULL\nAND posted_dt IS NULL\nORDER BY pub_dt DESC\nLIMIT 36",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        380,
        600
      ],
      "id": "982de28b-4173-47d5-8d30-675525003925",
      "name": "Not Posted in 48h",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SlwUL8t7rvWe6ZMd",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9262979f-5f51-4246-b65a-da61a73134da",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        820
      ],
      "id": "9f7caf40-f52f-4d1e-8940-622c001548cb",
      "name": "News to Analyse?"
    },
    {
      "parameters": {
        "errorMessage": "Empty Input of AI Agent"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        560,
        820
      ],
      "id": "fa217128-642e-4bae-8d1c-7863c464dcc9",
      "name": "Nothing to Analyse"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT article_id, title\nFROM newsdata_io\nWHERE pub_dt >= '{{ $now.minus(48, 'hours').toUTC().format('yyyy-MM-dd HH:mm:ss') }}'",
        "options": {
          "connectionLimit": 10
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1660,
        200
      ],
      "id": "b6765b96-2806-48b6-9e5c-f00c94894cf5",
      "name": "Existing Articles in 48h",
      "notesInFlow": false,
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SlwUL8t7rvWe6ZMd",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title, DATE_ADD(posted_dt, INTERVAL 3 HOUR) as posted\nFROM newsdata_io\nWHERE posted_dt IS NOT NULL\nORDER BY posted DESC",
        "options": {
          "connectionLimit": 10
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -220,
        420
      ],
      "id": "53ba0f5b-e390-41c6-99c3-cd87570c2ab7",
      "name": "posted list by dt",
      "notesInFlow": false,
      "credentials": {
        "mySql": {
          "id": "SlwUL8t7rvWe6ZMd",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT best_news FROM input2\nWHERE best_news IN (\n  SELECT id FROM input1\n)"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1600,
        600
      ],
      "id": "d2e94ad2-b951-4acf-89e2-1d4e6ca40127",
      "name": "Filter posted news"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "186c500d-563a-4bc5-b484-e68f4d1c78d0",
              "leftValue": "={{ $json.best_news }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1620,
        880
      ],
      "id": "03688587-6d16-4c86-bb8d-698961842538",
      "name": "News to Post?"
    },
    {
      "parameters": {
        "errorMessage": "Empty Answer from AI Agent"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1780,
        1000
      ],
      "id": "cd889b66-1ad4-4bc1-906a-68dd5c823a6e",
      "name": "Nothing to Post"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "best_news"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1760,
        600
      ],
      "id": "a088bd08-162b-4cb0-ba3f-5f75e8fd686c",
      "name": "News List to Post"
    },
    {
      "parameters": {
        "fieldToSplitOut": "best_news",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1420,
        680
      ],
      "id": "6976b15c-702d-42a1-bde5-29cc726e2ef1",
      "name": "News ID Table"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "include": "={{ $json.output.best_news }}",
        "options": {
          "destinationFieldName": "best_news"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1280,
        680
      ],
      "id": "ad58104e-2706-475f-a3a9-57a8c4e6ae89",
      "name": "News ID Array"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH posted_cnt AS (\n  SELECT count(id) as posted\n  FROM newsdata_io\n  WHERE posted_dt IS NOT NULL\n  AND pub_dt >= '{{ $now.minus(48, 'hours').toUTC().format('yyyy-MM-dd HH:mm:ss') }}'\n),\n\nnot_posted_cnt AS (\n  SELECT count(id) as not_posted\n  FROM newsdata_io\n  WHERE posted_dt IS NULL\n  AND pub_dt >= '{{ $now.minus(48, 'hours').toUTC().format('yyyy-MM-dd HH:mm:ss') }}'\n)\n\nSELECT posted, not_posted FROM posted_cnt, not_posted_cnt",
        "options": {
          "connectionLimit": 10
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -220,
        580
      ],
      "id": "d97df151-69ec-4aa9-a6a8-b4036cb504d3",
      "name": "posted vs not posted for 48h",
      "notesInFlow": false,
      "credentials": {
        "mySql": {
          "id": "SlwUL8t7rvWe6ZMd",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "content": "## DB queries",
        "height": 900,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        40
      ],
      "typeVersion": 1,
      "id": "185a7ad2-8be5-43ff-b9a3-e268864063b9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\n  FROM newsdata_io\n  WHERE posted_dt IS NULL\n  AND pub_dt >= '{{ $now.minus(48, 'hours').toUTC().format('yyyy-MM-dd HH:mm:ss') }}'",
        "options": {
          "connectionLimit": 10
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -220,
        760
      ],
      "id": "fab12343-18e7-443b-bae7-a3d307a01ccc",
      "name": "not posted in 48h - details",
      "notesInFlow": false,
      "credentials": {
        "mySql": {
          "id": "SlwUL8t7rvWe6ZMd",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "chatInput",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        640,
        680
      ],
      "id": "865b934c-e568-4720-b529-8cc7ce4a56d5",
      "name": "News List to Analyse"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1, input2"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        840,
        680
      ],
      "id": "c5650171-186c-4506-9b69-af6c5044ea0b",
      "name": "Model Input"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "last_posted",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        560,
        1040
      ],
      "id": "258f207b-f761-4261-926f-65d161fdb4c2",
      "name": "Last Posted News List"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0414ba4-149c-47a6-9642-5244ed4916f5",
              "leftValue": "={{ $json.counter }}",
              "rightValue": 16,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "3854a94a-f7e3-49c7-b0ff-34c384b327d8",
              "leftValue": "={{ $json.nextPage }}",
              "rightValue": "end",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        300
      ],
      "id": "e33f80b0-3233-4723-8929-0b4f1bad1ba1",
      "name": "Continue Requests?"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "return {'OK': 1}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        200
      ],
      "id": "b20c150c-1e34-4de4-a0e2-a6711cf8f9ea",
      "name": "Trigger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.keys().first() }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "bb184f14-4f4f-44b7-8aaf-082fbfd53806"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2020,
        120
      ],
      "id": "848e6cbf-529c-4780-9470-fcf9780a8783",
      "name": "Insert Trigger"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT *\nFROM input1 as i1 \nWHERE i1.article_id NOT IN (\n  SELECT input2.article_id FROM input2\n)\nAND i1.title NOT IN (\n  SELECT input2.title FROM input2\n)\nAND i1.description IS NOT NULL"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1840,
        120
      ],
      "id": "c6d5ccd4-3644-42eb-82c2-69f946140262",
      "name": "Filter Existing News"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        100,
        820
      ],
      "id": "f1ca2224-babb-4469-a975-92a752a139a9",
      "name": "Agent Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title, description\n  FROM newsdata_io\n  WHERE posted_dt IS NOT NULL\n  AND pub_dt >= '{{ $now.minus(24, 'hours').format('yyyy-MM-dd HH:mm:ss') }}'\n  ORDER BY posted_dt DESC",
        "options": {
          "connectionLimit": 10
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        380,
        1040
      ],
      "id": "2ea2021e-bf33-47e4-98b3-9865b0a2d496",
      "name": "Last Posted in 24h",
      "notesInFlow": false,
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SlwUL8t7rvWe6ZMd",
          "name": "MySQL n8n_news"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "News ID Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Results Array": {
      "main": [
        [
          {
            "node": "Filter Redundant Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Redundant Fields": {
      "main": [
        [
          {
            "node": "Trigger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Existing News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Posted": {
      "main": [
        [
          {
            "node": "Wait Updating",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Best News Data": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Updating": {
      "main": [
        [
          {
            "node": "Get Best News Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Endpoint Generator": {
      "main": [
        [
          {
            "node": "Continue Requests?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request": {
      "main": [
        [
          {
            "node": "Results Array",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Iteration": {
      "main": [
        [
          {
            "node": "Endpoint Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Variables": {
      "main": [
        [
          {
            "node": "Start Iteration",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Start Iteration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Posted in 48h": {
      "main": [
        [
          {
            "node": "News to Analyse?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter posted news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News to Analyse?": {
      "main": [
        [
          {
            "node": "News List to Analyse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing to Analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existing Articles in 48h": {
      "main": [
        [
          {
            "node": "Filter Existing News",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "News to Post?": {
      "main": [
        [
          {
            "node": "Set Posted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing to Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter posted news": {
      "main": [
        [
          {
            "node": "News List to Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News List to Post": {
      "main": [
        [
          {
            "node": "News to Post?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait Updating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News ID Table": {
      "main": [
        [
          {
            "node": "Filter posted news",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "News ID Array": {
      "main": [
        [
          {
            "node": "News ID Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News List to Analyse": {
      "main": [
        [
          {
            "node": "Model Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Posted News List": {
      "main": [
        [
          {
            "node": "Model Input",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Continue Requests?": {
      "main": [
        [
          {
            "node": "Update Variables",
            "type": "main",
            "index": 1
          },
          {
            "node": "Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Existing Articles in 48h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Trigger": {
      "main": [
        [
          {
            "node": "Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Existing News": {
      "main": [
        [
          {
            "node": "Insert Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Trigger": {
      "main": [
        [
          {
            "node": "Last Posted in 24h",
            "type": "main",
            "index": 0
          },
          {
            "node": "Not Posted in 48h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Posted in 24h": {
      "main": [
        [
          {
            "node": "Last Posted News List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "3KrC76L2tkEns519",
    "timezone": "Etc/UTC"
  },
  "versionId": "aede1cf5-8ed9-421c-babf-18d09f1704f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00113ea425e724c18a3fc809567de94b8a61e09467a8efec875b51558c9ac8e3"
  },
  "id": "NIFCyvV0wHZ1dT0x",
  "tags": []
}