workflows/newsdata_io.json
{
  "name": "newsdata_io",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the list of articles (JSON below).  \nReturn ONLY a JSON array of the IDs in editorial priority order.\n{{ $json.chatInput.toJsonString() }}. Check also this list of recently posted news to avoid duplicates and similarity in topics: {{ $json.last_posted.toJsonString() }}.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "ROLE  \nYou are the Senior News Curator for the Telegram channel “AI & Robotics News”.  \nYour mission: from a JSON list of recent articles, pick the 1-3 items most worth posting.\n\nSELECTION GUIDELINES  \n1. Core topics  \n   • Artificial Intelligence — models, agents, applied ML, generative AI, multimodal, policy, ethics  \n   • Robotics — humanoids, industrial robots, drones, autonomous systems, soft robotics  \n\n2. Priority (score each article mentally)  \n   A. Real-world impact or deployment (↑↑)  \n   B. Technological or societal significance (↑)  \n   C. Global or cross-regional relevance (↑)  \n   D. Fresh insight, breakthrough or ethical debate (↑)  \n   E. Unusual/funny angle – max 1 per batch (optional)\n\n3. Must-have diversity  \n   • All articles must cover different sub-topics or perspectives if possible.  \n   • Avoid near-duplicate subjects in the same batch.\n   • Avoid selecting multiple news from the one source in the same batch.\n   • Check list of last posted news to avoid duplicates and similar articles.\n   • There shouldn't be more than 1 topic about markets analysis in the same batch.\n\n4. Strict exclusions  \n   ✗ Funding rounds, stock/crypto moves, celebrity pieces, new gadget ads  \n   ✗ Pure theory years from application, press releases, entertainment/gaming news  \n   ✗ Articles whose only link to AI/robotics is a buzzword\n\n5. Quality checks  \n   • Prefer in-depth reporting to 200-word blogs.  \n   • Reject items with obvious marketing language or paywall teasers.\n\nOUTPUT FORMAT (MANDATORY)  \nReturn **only** a JSON array containing the `id` values of the chosen articles, ordered by editorial priority.  \nExample: `[45, 51, 41]`\n\nERROR HANDLING  \nIf fewer than 5 articles meet the criteria, return the IDs you have (minimum 1).  \nIf the input list is empty, return `[]`."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        360,
        800
      ],
      "id": "06c7f1b4-dcf5-4852-9d46-e0cafb2bfbfd",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        380,
        1120
      ],
      "id": "ec9de26d-e08f-4107-a4df-4f8596aa923a",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "7B9fBYSzKWERQsBd",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"best_news\": [45, 48, 52]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        560,
        1120
      ],
      "id": "a2be5721-dbba-4b63-98e5-0df68229775e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        460,
        980
      ],
      "id": "53ce7996-bdf7-4402-b15a-79fb4d8e74a2",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        400,
        400
      ],
      "id": "49fc2b08-08e9-4678-8256-36824bd6df8f",
      "name": "Results Array"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12ba4226-2827-4a90-aa9e-76ef56cd3358",
              "name": "article_id",
              "value": "={{ $json.article_id }}",
              "type": "string"
            },
            {
              "id": "e9c76173-18a7-45ee-9a96-ae4e4a47f817",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "3607d46c-9f58-48d8-8564-ff3a9b49d38b",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "d69cae23-ebdb-4c07-bd89-81e8aa9c0844",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "9776a6d2-e192-46b2-a1b0-32650482d496",
              "name": "pub_dt",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "c6783038-da09-481b-835a-04103cb80260",
              "name": "source_priority",
              "value": "={{ $json.source_priority }}",
              "type": "number"
            },
            {
              "id": "f2288bf2-0e6e-4593-af2c-8399173627ec",
              "name": "category",
              "value": "={{ $json.category }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        400
      ],
      "id": "bcc1442d-f673-4978-95ef-34d753c3bd00",
      "name": "Filter Redundant Fields"
    },
    {
      "parameters": {
        "content": "## Collect news from newsdata.io and save to database",
        "height": 600,
        "width": 1920
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -280,
        0
      ],
      "typeVersion": 1,
      "id": "32ff4906-48c8-4606-bce7-08155b3118f9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Find the best news from today that have not been posted yet",
        "height": 620,
        "width": 1580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -280,
        640
      ],
      "typeVersion": 1,
      "id": "82ee7f11-1c81-4b84-a3c6-98dcca61ea2e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE newsdata_io\nSET posted_dt = '{{ $now.toUTC().format('yyyy-MM-dd HH:mm:ss') }}'\nWHERE id in ({{ $json.best_news }})",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1160,
        920
      ],
      "id": "3979b646-e75d-43e3-a3ae-cfa12b39753b",
      "name": "Set Posted",
      "credentials": {
        "mySql": {
          "id": "rVoJgER2O3fzYLL5",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  title, \n  CASE\n    WHEN CHAR_LENGTH(description) <= 200 THEN description\n    ELSE CONCAT(LEFT(description, 200), ' ...')\n  END AS description,\n  link\nFROM newsdata_io\nWHERE id in ({{ $json.best_news}})",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1500,
        700
      ],
      "id": "faffc360-7f75-4c15-8946-6aa920d03033",
      "name": "Get Best News Data",
      "credentials": {
        "mySql": {
          "id": "rVoJgER2O3fzYLL5",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "chatId": "@robotics_ai_news",
        "text": "=*{{$json[\"title\"]}}*\n\n[Read full article]({{$json[\"link\"]}})\n\n#newsdata",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        940
      ],
      "id": "93698a06-ddf8-4a7a-bf4e-2c8e7a8a9f7b",
      "name": "Telegram",
      "webhookId": "2971bcc2-d1a8-4049-9dd0-54a7b86fe295",
      "credentials": {
        "telegramApi": {
          "id": "zbQZdbrwE7AcC9UW",
          "name": "robotics_ai_news_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Post to [AI & Robotic News](https://t.me/robotics_ai_news)",
        "height": 620,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        640
      ],
      "typeVersion": 1,
      "id": "8383b8b6-0958-4308-972f-783c03c9c060",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1360,
        700
      ],
      "id": "1274559f-2242-498b-b965-e157c88378fa",
      "name": "Wait Updating"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0414ba4-149c-47a6-9642-5244ed4916f5",
              "leftValue": "={{ $json.counter }}",
              "rightValue": 16,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "3854a94a-f7e3-49c7-b0ff-34c384b327d8",
              "leftValue": "={{ $json.nextPage }}",
              "rightValue": "end",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        60
      ],
      "id": "dfc6b6f0-4ff5-4e39-a30c-51a43ca40193",
      "name": "Limit exceeded?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "python",
        "pythonCode": "import random\n\n# COUNTER\ncnt = _json['counter'] if 'counter' in _json.keys() else 0\ncnt += 1\n\n  \n# PAGING\ntry:\n  next_page = _json['nextPage']\nexcept:\n  next_page = ''\n\nnext_page = next_page if next_page else 'switch_type'\n\n\n# TYPE\nr_types = ['robot_' + str(i) for i in range(1,8)]\nr_types.extend(['ai_' + str(i) for i in range(1,6)])\nr_types.extend(['aut_' + str(i) for i in range(1,3)])\n\nif next_page == 'switch_type':\n  if cnt <= len(r_types):\n    r_type = r_types[cnt - 1]\n    next_page = ''\n  else:\n    r_type = 'none'\n    next_page = 'end'\nelse: \n  r_type = _json['type']\n\n\n# REQUESTS\nbase = 'https://newsdata.io/api/1/latest?country=us,jp,gb,de,cn&language=en&category=science,technology&excludedomain=news.google.com'\n# timeframe param is only for paid plan\n\nif 'robot' in r_type:\n  q = '(robot OR robotics OR robotic) AND '\n  match r_type[-1]:\n    case '1':\n      q += '(factory OR industrial OR autonomous) NOT (toy OR vacuum OR lawn)'\n    case '2':\n      q += '(medical OR surgical OR assist) NOT (toy OR vacuum OR lawn)'\n    case '3':\n      q += '(quadruped OR humanoid OR swarm OR drone OR vision) NOT vacuum'\n    case '4':\n      q += '(logistics OR warehouse OR delivery OR interaction) NOT vacuum'\n    case '5':\n      q += '(agriculture OR animal OR manipulation) NOT (vacuum OR lawn)'\n    case '6':\n      q += '(construction OR mining OR infrastructure OR heavy-duty)'\n    case '7':\n      q += '(space OR lunar OR martian OR underwater OR subsea OR orbital)'\n\nelif 'ai' in r_type:\n  q = 'ai AND '\n  match r_type[-1]:\n    case '1':\n      q += '(agi OR asi OR tool OR agent OR model OR intelligence OR gpt OR llm)'\n    case '2':\n      q += '(generative OR creative OR multimodal OR vision OR synthesis OR generated)'\n    case '3':\n      q += '(military OR autonomous OR defense OR surveillance OR strategic OR risk)'\n    case '4':\n      q += '(business OR analytics OR decision OR forecasting OR optimization OR analysis)'\n    case '5':\n      q += '(healthcare OR biology OR science OR diagnostics OR drug OR research OR issue)'\n\nelif r_type.startswith('aut'):                  \n    q = '(automation OR automated) AND '\n    match r_type[-1]:\n        case '1':\n            q += '(factory OR production OR assembly OR CNC OR PLC)'\n        case '2':\n            q += '(workflow OR business OR office OR finance OR back-office)'\n\nelse:\n  q = ''\n\n#print('type:', r_type, '| query:', q)\n\nnp_param = f'&page={next_page}' if next_page else ''\n\nq_param = random.choice(['q','qInTitle'])\n\n\nreturn {\n  'counter': cnt,\n  'nextPage': next_page,\n  'type': r_type,\n  'endpoint': f'{base}&{q_param}={q}{np_param}',\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        120
      ],
      "id": "67dc1583-e0d4-42cf-9654-87a0130425aa",
      "name": "Endpoint Generator"
    },
    {
      "parameters": {
        "url": "={{ $json[\"endpoint\"] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        180
      ],
      "id": "0584cad3-ce72-49a3-a4a3-f7ba05ddd327",
      "name": "Request",
      "credentials": {
        "httpQueryAuth": {
          "id": "3LLDA7Wil8oVfqAv",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input2"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        60,
        120
      ],
      "id": "6628de6d-a89d-4125-92b0-1b15e7e39ac6",
      "name": "Start Iteration",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT \n  i1.counter, \n  i1.type,\n  i2.nextPage\nFROM input1 as i1, input2 as i2"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        760,
        140
      ],
      "id": "8344067c-8247-41ba-9bf0-ce56bb6bd8dd",
      "name": "Update Variables"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "newsdata_io",
          "mode": "list",
          "cachedResultName": "newsdata_io"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "article_id",
              "value": "={{ $json.article_id }}"
            },
            {
              "column": "title",
              "value": "={{ $json.title }}"
            },
            {
              "column": "description",
              "value": "={{ $json.description }}"
            },
            {
              "column": "link",
              "value": "={{ $json.link }}"
            },
            {
              "column": "pub_dt",
              "value": "={{ $json.pub_dt }}"
            },
            {
              "column": "source_priority",
              "value": "={{ $json.source_priority }}"
            },
            {
              "column": "category",
              "value": "={{ JSON.stringify($json.category) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1220,
        440
      ],
      "id": "eca91c8d-69c1-488e-9922-358878ea316c",
      "name": "Insert",
      "notesInFlow": true,
      "credentials": {
        "mySql": {
          "id": "rVoJgER2O3fzYLL5",
          "name": "MySQL n8n_news"
        }
      },
      "notes": "TABLE: newsdata_io"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        80
      ],
      "id": "a9261f1f-abec-464a-926f-832076ad8c7a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title, posted_dt\nFROM newsdata_io\nWHERE title LIKE 'Silicon Doesn%'",
        "options": {
          "connectionLimit": 10
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -540,
        220
      ],
      "id": "6a07dad4-ee14-4bcb-a55d-a95d99ea5628",
      "name": "check posted by title",
      "notesInFlow": false,
      "credentials": {
        "mySql": {
          "id": "rVoJgER2O3fzYLL5",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH prep as (\nSELECT COUNT(title) as cnt, title \n  FROM newsdata_io \n  GROUP BY title \n  HAVING cnt > 1\n)\n\nSELECT article_id, title, link \n  FROM newsdata_io\n  WHERE title in (SELECT title from prep)\nORDER BY title",
        "options": {
          "connectionLimit": 10
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -540,
        60
      ],
      "id": "be83b16e-0c0b-42bc-aa70-15cdce672e9d",
      "name": "check duplicates",
      "notesInFlow": false,
      "credentials": {
        "mySql": {
          "id": "rVoJgER2O3fzYLL5",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, description FROM newsdata_io\nWHERE pub_dt >= '{{ $now.minus(48, 'hours').toUTC().format('yyyy-MM-dd HH:mm:ss') }}' \nAND description IS NOT NULL\nAND posted_dt IS NULL\nORDER BY pub_dt DESC\nLIMIT 36",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -240,
        700
      ],
      "id": "f47a40bd-732b-4df2-84e0-d5d1aeef302c",
      "name": "Not Posted in 48h",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "rVoJgER2O3fzYLL5",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9262979f-5f51-4246-b65a-da61a73134da",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        900
      ],
      "id": "53b466dc-7a88-4feb-b4e7-e2dc940baf2b",
      "name": "News to Analyse?"
    },
    {
      "parameters": {
        "errorMessage": "Empty Input of AI Agent"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -60,
        940
      ],
      "id": "e0b7f7be-7dcf-4a5f-8440-096ce7fd6070",
      "name": "Nothing to Analyse"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "return {'OK': 1}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        460
      ],
      "id": "f7494f01-1486-464c-9973-c5cf60117d1a",
      "name": "Dummy Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT article_id, title\nFROM newsdata_io\nWHERE pub_dt >= '{{ $now.minus(48, 'hours').toUTC().format('yyyy-MM-dd HH:mm:ss') }}'",
        "options": {
          "connectionLimit": 10
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        900,
        400
      ],
      "id": "9e45f591-493f-48c7-9455-150360136943",
      "name": "Existing Articles in 48h",
      "notesInFlow": false,
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "rVoJgER2O3fzYLL5",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT *\nFROM input1\nWHERE input1.article_id NOT IN (\n  SELECT input2.article_id FROM input2\n)\nAND input1.title NOT IN (\n  SELECT input2.title FROM input2\n)"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1060,
        260
      ],
      "id": "4c6f9c62-d9f5-4fb0-98a3-56d930b8f8ae",
      "name": "Get New Articles"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9262979f-5f51-4246-b65a-da61a73134da",
              "leftValue": "={{ $json.keys().first() }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1220,
        260
      ],
      "id": "0b7713a5-f890-4315-a9ae-e72c3535aa29",
      "name": "Articles to Insert?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        100
      ],
      "id": "99e7ba25-ae91-4a4f-a910-97fd1ccd12d7",
      "name": "Agent Trigger Wire 1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        440
      ],
      "id": "0d807786-5f47-4a6d-a71f-9408bf1fd2a7",
      "name": "Agent Trigger Wire 2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title, DATE_ADD(posted_dt, INTERVAL 3 HOUR) as posted\nFROM newsdata_io\nWHERE posted_dt IS NOT NULL\nORDER BY posted DESC",
        "options": {
          "connectionLimit": 10
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -540,
        380
      ],
      "id": "bc3ee4a9-ff12-42d0-be87-dc50d5805923",
      "name": "posted list by dt",
      "notesInFlow": false,
      "credentials": {
        "mySql": {
          "id": "rVoJgER2O3fzYLL5",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT best_news FROM input2\nWHERE best_news IN (\n  SELECT id FROM input1\n)"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        980,
        700
      ],
      "id": "4836802d-3648-4e74-9ef4-a375009ed78c",
      "name": "Filter posted news"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "186c500d-563a-4bc5-b484-e68f4d1c78d0",
              "leftValue": "={{ $json.best_news }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        1000
      ],
      "id": "0d9ebc84-fed9-4e02-a6ef-d583dfca4dc9",
      "name": "News to Post?"
    },
    {
      "parameters": {
        "errorMessage": "Empty Answer from AI Agent"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1160,
        1100
      ],
      "id": "8ca60c86-9467-400c-8210-454b70fb9aa9",
      "name": "Nothing to Post"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "best_news"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1140,
        700
      ],
      "id": "d5c039c3-ca66-4c13-9579-afb485492690",
      "name": "News List to Post"
    },
    {
      "parameters": {
        "fieldToSplitOut": "best_news",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        800,
        800
      ],
      "id": "e20187ba-2463-4f1a-be28-48760c11c790",
      "name": "News ID Table"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "include": "={{ $json.output.best_news }}",
        "options": {
          "destinationFieldName": "best_news"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        800
      ],
      "id": "c1016044-96a2-4643-a517-3277366237bb",
      "name": "News ID Array"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH posted_cnt AS (\n  SELECT count(id) as posted\n  FROM newsdata_io\n  WHERE posted_dt IS NOT NULL\n  AND pub_dt >= '{{ $now.minus(48, 'hours').toUTC().format('yyyy-MM-dd HH:mm:ss') }}'\n),\n\nnot_posted_cnt AS (\n  SELECT count(id) as not_posted\n  FROM newsdata_io\n  WHERE posted_dt IS NULL\n  AND pub_dt >= '{{ $now.minus(48, 'hours').toUTC().format('yyyy-MM-dd HH:mm:ss') }}'\n)\n\nSELECT posted, not_posted FROM posted_cnt, not_posted_cnt",
        "options": {
          "connectionLimit": 10
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -540,
        540
      ],
      "id": "b85fd211-78f7-4a74-835b-cbb4ce6edf9c",
      "name": "posted vs not posted for 48h",
      "notesInFlow": false,
      "credentials": {
        "mySql": {
          "id": "rVoJgER2O3fzYLL5",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "content": "## DB queries",
        "height": 900,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -620,
        0
      ],
      "typeVersion": 1,
      "id": "e4e8c54c-d0f3-482f-8870-3b200a713daa",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\n  FROM newsdata_io\n  WHERE posted_dt IS NULL\n  AND pub_dt >= '{{ $now.minus(48, 'hours').toUTC().format('yyyy-MM-dd HH:mm:ss') }}'",
        "options": {
          "connectionLimit": 10
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -540,
        720
      ],
      "id": "2a6694af-29cb-45b5-ac3e-7fda5461c550",
      "name": "not posted in 48h - details",
      "notesInFlow": false,
      "credentials": {
        "mySql": {
          "id": "rVoJgER2O3fzYLL5",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "chatInput",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        20,
        780
      ],
      "id": "d728097f-ebd3-45a5-97b9-3a94a13972d8",
      "name": "News List to Analyse"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title\n  FROM newsdata_io\n  WHERE posted_dt IS NOT NULL\n  AND pub_dt >= '{{ $now.minus(48, 'hours').toUTC().format('yyyy-MM-dd HH:mm:ss') }}'\n  ORDER BY posted_dt DESC\n  LIMIT 36\n",
        "options": {
          "connectionLimit": 10
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -260,
        1100
      ],
      "id": "c99958d5-e71e-41e6-92f8-9197c1f6e1ce",
      "name": "Last 36 Posted Articles",
      "notesInFlow": false,
      "credentials": {
        "mySql": {
          "id": "rVoJgER2O3fzYLL5",
          "name": "MySQL n8n_news"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1, input2"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        220,
        800
      ],
      "id": "f130befd-a3e6-44a5-a7b5-79d8923e1b51",
      "name": "Model Input"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title",
              "renameField": true,
              "outputFieldName": "last_posted"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        1100
      ],
      "id": "5d075670-37c6-40ef-9e08-0ac6709bbcba",
      "name": "Last Posted News List"
    }
  ],
  "pinData": {},
  "connections": {
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "News ID Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Results Array": {
      "main": [
        [
          {
            "node": "Filter Redundant Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Redundant Fields": {
      "main": [
        [
          {
            "node": "Dummy Trigger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get New Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Posted": {
      "main": [
        [
          {
            "node": "Wait Updating",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Best News Data": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Updating": {
      "main": [
        [
          {
            "node": "Get Best News Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit exceeded?": {
      "main": [
        [
          {
            "node": "Agent Trigger Wire 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Variables",
            "type": "main",
            "index": 0
          },
          {
            "node": "Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Endpoint Generator": {
      "main": [
        [
          {
            "node": "Limit exceeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request": {
      "main": [
        [
          {
            "node": "Results Array",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Variables",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Start Iteration": {
      "main": [
        [
          {
            "node": "Endpoint Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Variables": {
      "main": [
        [
          {
            "node": "Start Iteration",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Start Iteration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Posted in 48h": {
      "main": [
        [
          {
            "node": "News to Analyse?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter posted news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News to Analyse?": {
      "main": [
        [
          {
            "node": "News List to Analyse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing to Analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dummy Trigger": {
      "main": [
        [
          {
            "node": "Existing Articles in 48h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existing Articles in 48h": {
      "main": [
        [
          {
            "node": "Get New Articles",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get New Articles": {
      "main": [
        [
          {
            "node": "Articles to Insert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Articles to Insert?": {
      "main": [
        [
          {
            "node": "Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Trigger Wire 1": {
      "main": [
        [
          {
            "node": "Agent Trigger Wire 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Trigger Wire 2": {
      "main": [
        [
          {
            "node": "Not Posted in 48h",
            "type": "main",
            "index": 0
          },
          {
            "node": "Last 36 Posted Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News to Post?": {
      "main": [
        [
          {
            "node": "Set Posted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing to Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter posted news": {
      "main": [
        [
          {
            "node": "News List to Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News List to Post": {
      "main": [
        [
          {
            "node": "News to Post?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait Updating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News ID Table": {
      "main": [
        [
          {
            "node": "Filter posted news",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "News ID Array": {
      "main": [
        [
          {
            "node": "News ID Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News List to Analyse": {
      "main": [
        [
          {
            "node": "Model Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last 36 Posted Articles": {
      "main": [
        [
          {
            "node": "Last Posted News List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Posted News List": {
      "main": [
        [
          {
            "node": "Model Input",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Moscow",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Pcaazavszuwin9th"
  },
  "versionId": "7a1969ac-4554-4c7e-8a9f-f7db75c1af74",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "150696a109ca94a218f8bbcab6b68f827420b7032f3b464b5842c39cdfa63498"
  },
  "id": "NFtNMJsRbEApu9Am",
  "tags": []
}